<div id="theSocial">
  <p><a class="no-underline myicon" href="https://twitter.com/stardog_db"><img alt="Social Media Icon" src="/img/twitter.png"  height="24" width="24"></a>
  <a class="no-underline myicon" href="mailto:inquiries@complexible.com"><img alt="Social Media Icon" src="/img/gmail.png"    height="24" width="24"></a>
  <a class="no-underline myicon" href="https://github.com/complexible/stardog-blog"><img alt="Social Media Icon" src="/img/github.png"   height="24" width="24"></a></p>
</div>
